---
import '../main.css';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import GoogleAnalyticsTag from '../components/GoogleAnalyticsTag.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Freeman&family=Lilita+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/e9800c51cf.js" crossorigin="anonymous"></script>
		<link rel="icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png" />
		<link rel="icon" type="image/png" sizes="512x512" href="/android-chrome-512x512.png" />
		<link rel="manifest" href="/site.webmanifest.json" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content="Monsef Rachid | Real Estate XML Feed Generator SaaS" />
		<meta property="og:site_name" content="Monsef Rachid" />
		<meta property="og:description" content="Software engineer & technology consultant with experience in web application development and information retrieval across a wide range of industries.">
		<meta property="og:url" content="https://www.monsefrachid.com/propxml" />
		<meta property="og:image" content="https://www.monsefrachid.com/img/og1.jpg" />   
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />
		<meta name="description" content="Software engineer & technology consultant with experience in web application development and information retrieval across a wide range of industries.">
		<link rel="alternate" href="https://www.monsefrachid.com/propxml" hreflang="en" />
		<title>Monsef Rachid | Real Estate XML Feed Generator SaaS</title>

		<GoogleAnalyticsTag />
	</head>

	<body x-data="{ showMobileNav: false }">
		
		<Nav />

		<section id="project" class="py-16 bg-white">

			<div class="flex flex-col items-center w-full max-w-4xl mx-auto px-6 mt-16">

				<h1 class="block text-black text-3xl lg:text-4xl font-bold">PropXml.com</h1>

				<span class="block w-16 border-b-4 rounded border-sky-600 my-6"></span>

				<h2 class="w-full max-w-4xl lg:text-xl text-center mb-8">XML Data Feed Generator for Real Estate Listings</h2>

				<div class="grid grid-cols-2 w-full gap-8 lg:gap-16">

					<div class="col-span-full">
						<div class="w-full max-w-[450px] mx-auto md:max-w-none px-4 py-4 lg:px-12 lg:py-8 bg-slate-50 shadow-md space-y-6 rounded-sm">
							<img class="w-full border-2 border-gray-400 rounded" src="/img/propxml-screenshot.jpg">
							<div>
								<h3 class="text-2xl font-semibold mb-4 text-gray-800">Project Overview</h3>
								<p class="mb-3">SaaS application that automates the conversion of real estate property listings into XML data feeds, optimized for platforms like Zillow, Facebook, and Realtor.com. This tool streamlines the entire process—from data extraction via web crawling, through data refinement in an intuitive dashboard, to the generation of XML feeds in multiple industry-standard formats. </p>
								<p class="mb-3">Capable of handling large-scale data efficiently, the application is designed with scalability and adaptability in mind, ensuring quick processing and compliance with evolving XML standards. Ideal for real estate agents and companies looking to automate their data workflow and reduce manual effort.</p>
							</div>
							<div>
								<h3 class="text-2xl font-semibold mb-4 text-gray-800">Tools Used</h3>
								<div class="flex flex-wrap gap-2 py-2">
									<span class="inline-flex items-center rounded-md bg-sky-100 px-2 py-1 text-base font-medium text-sky-700 ring-1 ring-inset ring-sky-500/10">Laravel</span>
									<span class="inline-flex items-center rounded-md bg-sky-100 px-2 py-1 text-base font-medium text-sky-700 ring-1 ring-inset ring-sky-500/10">PHP</span>
									<span class="inline-flex items-center rounded-md bg-sky-100 px-2 py-1 text-base font-medium text-sky-700 ring-1 ring-inset ring-sky-500/10">Python</span>
									<span class="inline-flex items-center rounded-md bg-sky-100 px-2 py-1 text-base font-medium text-sky-700 ring-1 ring-inset ring-sky-500/10">JavaScript</span>	
									<span class="inline-flex items-center rounded-md bg-sky-100 px-2 py-1 text-base font-medium text-sky-700 ring-1 ring-inset ring-sky-500/10">Alpine.js</span>	
									<span class="inline-flex items-center rounded-md bg-sky-100 px-2 py-1 text-base font-medium text-sky-700 ring-1 ring-inset ring-sky-500/10">MySQL</span>
									<span class="inline-flex items-center rounded-md bg-sky-100 px-2 py-1 text-base font-medium text-sky-700 ring-1 ring-inset ring-sky-500/10">HTML</span>						
									<span class="inline-flex items-center rounded-md bg-sky-100 px-2 py-1 text-base font-medium text-sky-700 ring-1 ring-inset ring-sky-500/10">Tailwind CSS</span>	
									<span class="inline-flex items-center rounded-md bg-sky-100 px-2 py-1 text-base font-medium text-sky-700 ring-1 ring-inset ring-sky-500/10">GitHub Actions</span>							
								</div>
							</div>
							<div>
								<h3 class="text-2xl font-semibold mb-4 text-gray-800">Project Details</h3>
								<ul class="list-disc ml-4 space-y-4">
									<li>Designed and implemented the database schema using MySQL, ensuring optimal normalization and indexing for performance.</li>
									<li>Developed the backend using Laravel and the frontend with Blade templates combined with Alpine.js for user interactivity and dynamic content rendering.</li>
									<li>Wrote custom web scrapers in Python using Selenium to extract property data from websites, handling various website structures and ensuring data accuracy.</li>
									<li>Set up a CI/CD pipeline for automatic deployment using GitHub Actions to streamline updates and ensure continuous delivery.</li>									
									<li>Implemented a user interface for users to review and refine imported listings before generating XML feeds, ensuring user control and customization.</li>
									<li>Integrated validation mechanisms to check data consistency and ensure compatibility with XML feed standards.</li>
									<li>Deployed the application on an AWS EC2 LAMP stack with proper security configurations, including SSL/TLS encryption and firewall rules.</li>
									<li>Optimized server performance to handle large-scale property data efficiently, ensuring high availability and low latency.</li>
									<li>Wrote automated unit and feature tests using PHPUnit to ensure platform reliability and catch potential regressions.</li>
									<li>Implemented logging and monitoring for key application metrics to identify and resolve issues proactively.</li>
									<li>Ensured the application adhered to industry security standards, including secure data storage and protection against common web vulnerabilities (e.g., SQL injection, XSS).</li>
									<li>Documented the codebase and deployment process to enable easier maintenance and onboarding for future developers.</li>
									<li>Conducted end-to-end testing and quality assurance to verify functionality across different use cases and platforms.</li>
								</ul>
							</div>
							<div class="flex justify-end gap-3 lg:gap-4 pt-6 pb-2 border-t border-gray-300">								
								<a target="_blank" href="https://propxml.com" class="px-2 py-1 lg:px-4 lg:py-2 bg-white outline outline-sky-600 text-sky-600 hover:bg-sky-600 hover:text-white text-sm font-normal rounded-sm">
									<i class="fa-solid fa-arrow-up-right-from-square mr-1"></i> Live
								</a>
							</div>		
						</div>
					</div>					

				</div>

			</div>

		</section>

		<Footer />
		
	</body>

</html>
