---
import '../main.css';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Freeman&family=Lilita+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/e9800c51cf.js" crossorigin="anonymous"></script>
		<link rel="icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png" />
		<link rel="icon" type="image/png" sizes="512x512" href="/android-chrome-512x512.png" />
		<link rel="manifest" href="/site.webmanifest.json" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content="Monsef Rachid | World Property Journal" />
		<meta property="og:site_name" content="Monsef Rachid" />
		<meta property="og:description" content="Software engineer & technology consultant with experience in web application development and information retrieval across a wide range of industries.">
		<meta property="og:url" content="https://www.monsefrachid.com" />
		<meta property="og:image" content="https://www.monsefrachid.com/img/og1.jpg" />   
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />
		<meta name="description" content="Software engineer & technology consultant with experience in web application development and information retrieval across a wide range of industries.">
		<link rel="alternate" href="https://www.monsefrachid.com/worldpropertyjournal.html" hreflang="en" />
		<title>Monsef Rachid | World Property Journal</title>
	</head>

	<body x-data="{ showMobileNav: false }">
		
		<Nav />

		<section id="project" class="py-16 bg-white">

			<div class="flex flex-col items-center w-full max-w-4xl mx-auto px-6 mt-16">

				<h1 class="block text-black text-3xl lg:text-4xl font-bold">WorldPropertyJournal.com</h1>

				<span class="block w-16 border-b-4 rounded border-sky-600 my-6"></span>

				<h2 class="w-full max-w-4xl lg:text-xl text-center mb-8">International Real Estate News Website</h2>

				<div class="grid grid-cols-2 w-full gap-8 lg:gap-16">

					<div class="col-span-full">
						<div class="w-full max-w-[450px] mx-auto md:max-w-none px-4 py-4 lg:px-12 lg:py-8 bg-slate-50 shadow-md space-y-6 rounded-sm">
							<img class="w-full border-2 border-gray-400 rounded" src="/img/wpj-screenshot.jpg">
							<div>
								<h3 class="text-2xl font-semibold mb-4 text-gray-800">Project Overview</h3>
								<p class="mb-3">Global digital newspaper specializing in real estate market news, trends, and information. Offers comprehensive coverage across various sectors, including residential, commercial, and vacation properties. The platform features news articles, market reports, and insights from industry experts, catering to a diverse global audience.</p>
								<p class="mb-3">In addition to news coverage, WPJ provides digital advertising opportunities, news feed services, press release postings, and property listings.</p>
							</div>
							<div>
								<h3 class="text-2xl font-semibold mb-4 text-gray-800">Tools Used</h3>
								<div class="flex flex-wrap gap-2 py-2">
									<span class="inline-flex items-center rounded-md bg-sky-100 px-2 py-1 text-base font-medium text-sky-700 ring-1 ring-inset ring-sky-500/10">PHP</span>
									<span class="inline-flex items-center rounded-md bg-sky-100 px-2 py-1 text-base font-medium text-sky-700 ring-1 ring-inset ring-sky-500/10">CodeIgniter</span>
									<span class="inline-flex items-center rounded-md bg-sky-100 px-2 py-1 text-base font-medium text-sky-700 ring-1 ring-inset ring-sky-500/10">MovableType</span>
									<span class="inline-flex items-center rounded-md bg-sky-100 px-2 py-1 text-base font-medium text-sky-700 ring-1 ring-inset ring-sky-500/10">JavaScript</span>	
									<span class="inline-flex items-center rounded-md bg-sky-100 px-2 py-1 text-base font-medium text-sky-700 ring-1 ring-inset ring-sky-500/10">jQuery</span>	
									<span class="inline-flex items-center rounded-md bg-sky-100 px-2 py-1 text-base font-medium text-sky-700 ring-1 ring-inset ring-sky-500/10">MySQL</span>
									<span class="inline-flex items-center rounded-md bg-sky-100 px-2 py-1 text-base font-medium text-sky-700 ring-1 ring-inset ring-sky-500/10">HTML</span>														
									<span class="inline-flex items-center rounded-md bg-sky-100 px-2 py-1 text-base font-medium text-sky-700 ring-1 ring-inset ring-sky-500/10">CSS</span>	
									<span class="inline-flex items-center rounded-md bg-sky-100 px-2 py-1 text-base font-medium text-sky-700 ring-1 ring-inset ring-sky-500/10">AWS</span>	
									<span class="inline-flex items-center rounded-md bg-sky-100 px-2 py-1 text-base font-medium text-sky-700 ring-1 ring-inset ring-sky-500/10">PayPal API</span>								
								</div>
							</div>
							<div>
								<h3 class="text-2xl font-semibold mb-4 text-gray-800">Project Details</h3>
								<ul class="list-disc ml-4 space-y-4">
									<li>Led the development and maintenance of the company’s main website and backend systems, utilizing Movabletype, PHP, MySQL, JavaScript, HTML, and CSS to deliver a seamless user experience and robust functionality.</li>
									<li>Designed and implemented advanced news search and data retrieval algorithms leveraging Latent Semantic Indexing to enhance content discoverability and relevance.</li>
									<li>Architected and developed the company’s Real Estate News API services using PHP CodeIgniter, enabling seamless integration with external platforms.</li>
									<li>Pioneered the development of paid news syndication and press release posting services, generating new revenue streams for the company.</li>
									<li>Validated and optimized third-party code to ensure compliance with internal standards and technical requirements, maintaining a high level of quality and performance.</li>
									<li>Oversaw website and backend updates and maintenance, ensuring system reliability and scalability.</li>
									<li>Led web server maintenance operations and authored comprehensive disaster recovery manuals to safeguard critical systems and data.</li>
									<li>Administered core IT infrastructure, including web, FTP, and mail servers, ensuring consistent uptime and operational efficiency.</li>							
								</ul>
							</div>
							<div class="flex justify-end gap-3 lg:gap-4 pt-6 pb-2 border-t border-gray-300">								
								<a target="_blank" href="https://www.worldpropertyjournal.com" class="px-2 py-1 lg:px-4 lg:py-2 bg-white outline outline-sky-600 text-sky-600 hover:bg-sky-600 hover:text-white text-sm font-normal rounded-sm">
									<i class="fa-solid fa-arrow-up-right-from-square mr-1"></i> Live
								</a>
							</div>		
						</div>
					</div>					

				</div>

			</div>

		</section>

		<Footer />
		
	</body>

</html>
